@page
@{
    Layout ="_Layout";
}
@section Scripts {
    <script>
        window.setTimeout(function () {
            window.location.href = 'https://localhost:44389/Home/Index';
        }, 2000);
    </script>
}              

@section Header {
    <h2 class="display-4 fw-bolder">ZABRANJEN PRISTUP</h2>
    <p class="lead fw-normal text-white-50 mb-0">Nemate pravo pristupa ovoj stranici</p>
    <p class="lead fw-normal text-white-50 mb-0">Preusmeravanje...</p>
}